table.redTable {
    position: absolute;
    top:35%;
    left:10%;
    border: 2px solid rgb(99, 48, 0);
    background-color: #EEE7DB;
    width: 75%;
    height: 45%;
    text-align: center;
    border-collapse: collapse;
  }
  table.redTable td, table.redTable th {
    border: 1px solid #AAAAAA;
    padding: 10px 2px;
  }
  table.redTable tbody td {
    font-size: 150%;
    font-weight: 900;
  }
  table.redTable tr:nth-child(even) {
    background: #EEE7DB;
  }
  table.redTable thead {
    background: rgb(99, 48, 0);
  }
  table.redTable thead th {
    font-size: 175%;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid rgb(99, 48, 0);
  }
  table.redTable thead th:first-child {
    border-left: none;
  }