.Femme-court{
    position: absolute;
    top: 35%;
    left: 5%;
    z-index: 3;
}
.Femme-long{
    position: absolute;
    top: 35%;
    left: 37.5%;
    z-index: 3;
}
.Homme{
    position: absolute;
    top: 35%;
    left: 70%;
    z-index: 3;
}
.Enfant-garcons{
    position: absolute;
    top: 55%;
    left: 5%;
    z-index: 3;
}
.Enfant-filles{
    position: absolute;
    top: 45%;
    left: 5%;
    z-index: 3;
}
.Couleur{
    position: absolute;
    top: 45%;
    left: 37.5%;
    z-index: 3;
}
.Meches{
    position: absolute;
    top: 45%;
    left: 70%;
    z-index: 3;
}
.Permanente{
    position: absolute;
    top: 65%;
    left: 5%;
    z-index: 3;
}
.Lissage{
    position: absolute;
    top: 55%;
    left: 37.5%;
    z-index: 3;
}
.Cartes{
    position: absolute;
    top: 55%;
    left: 70%;
    z-index: 3;
}
.Tout{
    position: absolute;
    top: 65%;
    left: 37.5%;
    z-index: 3;
}
.Planity{

    position: absolute;
    top:75%;
    left:37.5%;
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    color: green;
}
p1{
    Color:rgb(99, 48, 0);
    font-size: 20px;
    font-weight: 200;
    width: 100%;
}