.Image-1{
    transform: translate(-50%,-50%);
    border-radius: 25px;
    position: absolute;
    top:70%;
    left:35%;
    width: 27.5%;
    height: 40%;
    z-index: 1;
}
.Image-2{
    transform: translate(-50%,-50%);
    border-radius: 25px;
    position: absolute;
    top:35%;
    left:51%;
    width: 27.5%;
    height: 40%;
    z-index: 2;
}
.Maps{
    transform: translate(-50%,-50%);
    border-radius: 25px;
    position: absolute;
    top:65%;
    left:75%;
    z-index: 3;
}
.Salon-text{
    position: absolute;
    top:35%;
    left:67.5%;
}