body{
    background-color: rgba(237,223,214,255);
}
.Naviguation {
    position: absolute;
    top: 22.5%;
    left:120%;
    width:75%;


}
.Naviguation a{
  float: left;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
  font-size: 200%;
  font-weight: 600;
}
.Naviguation a:hover{
    color:green;
    text-decoration: underline;
}
header{
    width: 50%;
    position: absolute;
    background-color: rgba(237,223,214,255);
}
.Logo-Accueil img{
    width: 25%;
    height: 25%;
    border-radius: 200px;
}
.Naviguation .active{
    Color:green;
}
Footer{
    width: 100%;
    position: absolute;
    background-color: rgba(237,223,214,255);
    z-index: 2;
}
.Reseaux{
    position: fixed;
    top:87.5%;
    left:5%;
    
}
Footer i{
    color: black;
    font-size: 300%;
    border: 3px solid black;
    border-radius: 150px;
    padding: 4px 4px;
    margin: 5px 5px;
}

Footer i:hover{
    color: green;
    border: 3px solid green;
}
.Mentions-liens{
    color:black;
    font-size: 150%;
    text-decoration: none;
    position: fixed;
    font-size: 200%;
    font-weight: 600;
    top:87.5%;
    right:15%;
}
.Mentions-liens:hover{
    color:green;
    text-decoration: underline;
}
h1{
    position: absolute;
    top:22.5%;
    left:5%;
    Color:rgb(99, 48, 0);
    font-size: 50px;
    font-weight: 900;
    z-index: 1;
}
H2{
    color: rgb(99, 48, 0);
    font-size: 20px;
    font-weight: 900;
}
p{
    position: absolute;
    top:40%;
    left:5%;
    Color:rgb(99, 48, 0);
    font-size: 20px;
    font-weight: 200;
    width: 50%;
}
.Mentions{
    position: absolute;
    top:30%;
    left:5%;
    Color:rgb(99, 48, 0);
    font-size: 20px;
    font-weight: 200;
    width: 90%;
}