.titre-mentions{
    position: inherit;
    top: 10%;
    left: 7%;
    font-size: 390%;
    font-weight: 900;
    color:rgb(25, 209, 206);    
    animation: openclose 5s ease-in-out;
    width: 100%;
}
.texte-mentions{
    position: inherit;
    top: 30%;
    left: 7%;
    font-size: 25px;
    font-weight: bold;
    color:white;
    width: 60%;
}
.texte-mentions .coordonnees{
    position: inherit;
    top:30%;
    left: 5%;
}
.texte-mentions .hebergeur{
    position: inherit;
    top:60%;
    left:5%;
}
.texte-mentions .liens-externes{
    position: inherit;
    width: 60%;
    top:31%;
    left:35%;
    font-size: 100%;
    font-weight: bold;
}