.titre-projet{
    position: absolute;
    top: 15%;
    left: 7%;
    font-size: 390%;
    font-weight: 900;
    color:white;    
    overflow: hidden;
    animation: open 2s ease;
    white-space: nowrap;
    width: 100%;
}
@keyframes open {   
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
.soustitre-projet{
    position: absolute;
    top: 25%;
    left: 7%;
    font-size: 330%;
    font-weight: 650;
    color:rgb(25, 209, 206);
    overflow: hidden;
    animation: open 3s ease;
    white-space: nowrap;
}
@keyframes open {   
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
.texte-projet{
    position: absolute;
    top: 40%;
    left: 7%;
    font-size: 25px;
    font-weight: bold;
    color:white;
    overflow: hidden;
    animation: open 4s ease;
    white-space: nowrap;
    width: 50%;
}
@keyframes open {   
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
.titre-projet2{
    position: absolute;
    top: 95%;
    left: 55%;
    font-size: 390%;
    font-weight: 900;
    color:white;    
    animation: openclose 5s ease-in-out;
    width: 100%;
}
.soustitre-projet2{
    position: absolute;
    top:105%;
    left: 55%;
    font-size: 330%;
    font-weight: 650;
    color:rgb(25, 209, 206);
}
.texte-projet2{
    position: absolute;
    top: 120%;
    left: 55%;
    font-size: 25px;
    font-weight: bold;
    color:white;
    width: 60%;
}
.texte-projet2 a{
   color:white;
}

.titre-projet3{
    position: absolute;
    top: 215%;
    left: 7%;
    font-size: 390%;
    font-weight: 900;
    color:white;    
    animation: openclose 5s ease-in-out;
    width: 100%;
}
.soustitre-projet3{
    position: absolute;
    top: 225%;
    left: 7%;
    font-size: 330%;
    font-weight: 650;
    color:rgb(25, 209, 206);
}
.texte-projet3{
    position: absolute;
    top: 240%;
    left: 7%;
    font-size: 25px;
    font-weight: bold;
    color:white;
    width: 60%;
}
.PGC{
    position: absolute;
    top:145%;
    left:27%;
    width:50%;
    height:50%;
    border-radius: 40px;
    transform: translate(-50%,-50%);
}
.synthese{
    position: absolute;
    top: 105%;
    left: 27%;
    text-decoration: underline;
    color: white;
    font-size: 300%;
    transform: translate(-50%);
}
.synthese:hover{
    color:rgb(25, 209, 206);
    cursor: pointer;
}
.footer-projets{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 12%;
    background:transparent;
    z-index: 100;
}

